#login-form-div, #signup-form-div {
  box-sizing: border-box;
  width: 30%;
  text-align: center;
  margin:100px auto;
}

section {
  box-sizing: border-box;
  width:70%;
  text-align: center;
  display: inline-block;
}

nav > ul {
  list-style: none;
}

nav > ul > li {
  display: inline-block;
  margin: 10px;
}

header {
  margin: 0 20px 30px;
  border-bottom: 1px solid grey;
}

header > h1 {
  text-align: center;
  font-size: 7em;
}

.newPitch {
  width:30%;
  float: left;
  text-align: center;
  border: 1px solid grey;
  padding: 10px;
  padding-bottom: 20px;
}

.owner {
  font-weight: bolder;
}
